@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html ng-app="WorkOutous">
<head>
    <title>WorkOutous</title>
    <meta charset="utf-8">
    <!--Responsive Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
    <!--Workoutous CSS-->
    <link rel="stylesheet" href="css/workoutous.css" media="screen and (min-width: 1024px)" />
        <link rel="stylesheet" href="css/site1.css" media="screen and (max-width: 500px)" />
    <!--Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body ng-controller="Main as vm">
    <!--NAV-->
    <div id="nav">
        <nav ng-show="ctrl">
            <div class="nav nav-wrapper" id="wrappers">
                <a ui-sref="home" class="brand-logo center">Workoutous</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="large material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="tab" ui-sref="">Profile</a></li>
                    <li><a class="tab" ui-sref="home">Front Page</a></li>
                    <li><a class="tab" data-toggle="modal" data-target="#LoginModal">Log In</a></li>
                    <li><a class="tab" data-toggle="modal" data-target="#RegisterModal">Register</a></li>
                    <li><a class="tab" ui-sref="">Continue</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><img class="logo_on_login" src="images/WorkoutousLogo.png"> </li>
                    <li><a class="tab" ui-sref="">Profile</a></li>
                    <li><a class="tab" ui-sref="home">Front Page</a></li>
                    <li><a class="tab" data-toggle="modal" data-target="#LoginModal">Login Modal</a></li>
                    <li><a class="tab" data-toggle="modal" data-target="#RegisterModal">Register Modal</a></li>
                    <li><a class="tab" ui-sref="front">Front Page</a></li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <ui-view></ui-view>
    </div>

    <!--Button to scroll to top of page-->
    <button class="" onclick="topFunction()" id="topBtn" title="Go to top"> 🢁 TOP </button>

    <!--FOOTER-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text title">Workoutous</h5>
                    <p class="grey-text text-lighten-4">Some Text Here. Some Text Here. Some Text Here. Some Text Here.</p>
                </div>
                <div class="col l4 offset-l2 s12">

                    <div id="footerbutton">
                    <button class="btn-lg" id="continue" ng-click="controller.showModal('#login')">Log In</button>
               <button class="btn-lg" id="continue" ng-click="controller.showModal('#register')">Register</button>
              <a href="~/ngApp/templates/front.html"><button class="btn-lg" id="continue">Continue as Visitor</button></a>
          </div>
         <div id="copy"> &copy; 2017 Workoutous</div>
                </div>
            </div>
        </div>
    </footer>

    <!---Lib Files-->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!---Controllers & Services-->
    <script src="~/ngApp/controllers/MainController.js"></script>
    <script src="~/ngApp/services/MainService.js"></script>
    <script src="~/ngApp/controllers/LogInController.js"></script>

    <!--angular app-->
    <script src="~/ngApp/app.js"></script>
    <!--Workoutous JS file-->
    <script src="js/workoutous.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <!--Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</body>
</html>
